body{
    background-color: #ddd;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* Google Fonts import here ... */

/* CSS Custom Properties */
:root{
    --main-width:1280px;
    --max-width:1920px;
    --main-content-width:920px;
}
/* Headers style start */
.main-header{
    background-color: rgb(8, 8, 242);
    min-width:var(--main-width);
    max-width: var(--max-width);
}
.navigation-tag{
    width: var(--main-content-width);
    margin: auto;
    height:64px;

    display: flex;
    justify-content: space-between;
}
.header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-left> i,.header-left-text{
    font-size: 2em;
    color: white;
    margin-right:0.5em;
}
.header-left > i{
    color:white;
}
.header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header-right>a,img{
    text-decoration: none;
    padding: .5em;
    color: white;
    font-size: 1.5em;
} 
.header-right>img{
    max-height: 8
}
/* Headers style end */

/* top players style start-- */
.top-main-content,.main-content-2{
    width: var(--main-content-width);
    margin: 3em auto;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}
.top-players-container{
    display: grid;
    grid-template-columns:auto auto auto;
    gap: 10px;
}
.top-content-container,.main-content-two_container{
    margin:20px;
}
.top-player-text{
    color: blue;
}
.player{
    display: flex;
    align-items: center;
    color:rgba(25, 21, 21, 0.857);
}
.player>img{
    width:4em;
}
/* Top players style end */
.hr-line{
    color: grey;
    width: 95%;
    margin: auto;
}
/* Top Blogs Start  */
.top-blogs-container{
    display: grid;
    /* grid-template-columns: repeat(auto-fill, calc((100%) / 2)); */
   grid-template-columns: auto auto;    
}
.top-content-container2{
    padding: 20px;
}
.blog{
    display: flex;
    align-items: center;
   
   
}
.blog>img{
    max-width: 40%;
    padding:1em;
  
}
.blog-text{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    
    height: 100%;
}
.blog-text>h2{
    font-size: 20px;
    line-height: 35px;
    color: rgba(64, 54, 54, 0.965);
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
    
    
.blog-text>div>span{
    font-size:1em;
    padding-right: 6px;
}
.Top-blogs-text{
    color:blue;
}
.by{
   color: gray;
}
.bloger-name{
    color: blue;
    font-weight: bold;
}
/* MAIN CONTENT TWO START    */
.top-courses-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.course{
    margin: 10px 0px;
    width: 27%;
    padding:20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.course-photo{
    width:100%;
}
.course-photo >img{
    width:100%;
    padding: 0;
    margin: 0;
}
.card-footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.timing{
   padding: 5px;
   background-color: rgba(255, 192, 203, 0.62);
   color: rgb(195, 98, 114);
   border-radius: 5px;
}

   


    

   


    
   


    
   
   
    


    
    


   
   


    

   

   



    
   

    
    
   
    

